h2, .form-label, select, option, input[type="text"],input[type="submit"]{
    font-family: "Michroma", sans-serif;
}
.form-select, input[type="text"]{
    border: 1px #021F59 solid;
}
.form-select{
    color: white;
    background-color: #021F59;
}
.button-submit{
    background-color: #021F59;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
}
input[type="color"]{
    border-radius: 10px;
}
option{
    background-color: white;
    color: #021F59;
}
.form-label:hover{
    color: #021F59;
}
.labels-costuras{
    padding: 10px;
}